<nav class='navbar-brand-expand-x1 navbar-dark bg-dark'>
    <div class='container-fluid'>
        <a class="navbar-brand" href="/">
        "Mongo News Scraper"
        </a>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" rel="nofollow">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/" rel="nofollow">Saved Articles</a>
            </li>
             <li class="nav-item">
                <a class="btn btn-danger scrape-new">Scrape New Articles!</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger clear">Clear Articles!</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
        <div class="background-image">
            <div class="caption">
                <h1>Mongo News Scraper</h1>
                <p>The Wall Street Journal Edition</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid article-container">

</div>

<footer class="footer">
  <div class="container">
      
  </div>
</footer>