<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mongo News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved</a>
      </li>
      <li class="nav-item">
        <a class='btn btn-danger scrape-new'>Scrape New Articles!</a>
      </li>
      <li class='nav-item'>
        <a class='btn btn-danger clear'>Clear Articles!</a>
      </li>
    </ul>
  </div>
</nav>
<div class='jumbotron text-center'>
  <div class='overlay'>
  </div>
  <div class='background-image'>
  </div>
  <div class='caption'>
    <h1>Mongo Scrapper</h1>
    <p>Wall Street Journal Edition</p>
  </div>
</div>
<div class='container-fluid article-container'>

</div>

<div class='footer' style='background-color: slategrey'>
  <div class='container'>
    <p class='copyright' style='text-align: center'>&copy; Copyright 2019 Wall Street Journal Mongo Scrapper</p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
  integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
  integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
<script src='../../assets/javascript/index.js'></script>